<div class="dash-left">
    <ul>
        <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/blogdisplay" class="active">Blogs</a></li>
        <li><a href="/admin/categorydisplay">Categories</a></li>
        <li><a href="/admin/contactdisplay">Contact</a></li>
        <li><a href="/admin/aboutus">About</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>